
.sec1{
    background-color: beige;
    color: black;
    border-bottom: 50px solid;
    border: solid purple 10px;
    padding: 5px;
}

.sec2{
    background-color: beige;
    color: black;
    border: solid aqua 10px;
    padding: 5px;
}

.sec3{
    background-color: beige;
    color: black;
    border-bottom: 50px solid;
    border: solid orange 10px;
    padding: 5px;
}

#codes{
    font-family: 'Courier New', Courier, monospace;
}

.h2{
    font-size: 20px;
}

.td{
    display:table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}
